<div class="jumbotron">
    <h2><%= gettext "Welcome to %{name}", name: "Appointment App!" %></h2>
    <a href="<%@base%>/home">Home</a>
    <a href="<%@base%>/register/new">Register</a>
    <a href="<%@base%>/login">Login</a>
    <a href="<%@base%>/logout">Logout</a>
    <a href="<%@base%>/admin">Admin</a>
</div>

